.image-video{
  
}
.image{
}
.video{

}


/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .image-video{
        padding: 10px 10px 10px 50px;
        display: flex;
        justify-content: center;
    }
    .image{
        transform: rotate(5deg);
    }
    .video{
        position: absolute;
        left: 85px;
        top: 5px;
        transform: rotate(330deg);
    }
    
  }
  
  /* Medium devices (landscape tablets, 960px and up) */
  @media screen and (min-width: 960px) and (max-width: 1394px) {
    .image-video{
        padding: 10px 10px 10px 50px;
        display: flex;
        justify-content: center;
    }
    .image{
        transform: rotate(5deg);
    }
    .video{
        position: absolute;
        left: 85px;
        top: 5px;
        transform: rotate(330deg);
    }
    
  }
  
  /* Large devices (laptops/desktops, 1395px and up) */
  @media screen and (min-width: 1395px) and (max-width: 1597px) {
    .image-video{
        padding: 10px 10px 10px 50px;
        display: flex;
        justify-content: center;
    }
    .image{
        transform: rotate(5deg);
    }
    .video{
        position: absolute;
        left: 85px;
        top: 5px;
        transform: rotate(330deg);
    }
    
  }
  
  /* Extra large devices (laptops/desktops, 1598px and up) */
  @media screen and (min-width: 1598px) {
    .image-video{
        padding: 10px 10px 10px 50px;
        display: flex;
        justify-content: center;
    }
    .image{
        transform: rotate(5deg);
    }
    .video{
        position: absolute;
        left: 85px;
        top: 5px;
        transform: rotate(330deg);
    }
    .modal{
        width: 100px;
        height: 100px;
    }
    
  }
  
