.suggestions {
  margin-top: 30px;
  margin-right: 20px;
}

.suggestions__title {
  color: grey;
  font-weight: bold;
}

.suggestions__see__more {
  color: white;
  cursor: pointer;
}



.suggestions__header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.username__left {
  display: inline-flex;
}

.username__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.relation {
  color: grey;
  font-size: 12px;
}

.suggestions__username {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}

.suggestions__username:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.128);
}

.follow__button {
  color: #0095f6;
  font-weight: bold;
  background: 0;
  border: 0;
  margin-right: 5px;
}

.follow__button:hover {
  color: white;
  cursor: pointer;
}

.username {
  font-weight: 600;
  font-size: 14px;
}
