.profile {
  margin-left: 250px;
  width: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-details {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.profile-picture {
  width: 15%;
}
.profile-info-wrapper {
  position: relative;
  top: 0;
}
.upper-profile-info {
  display: flex;
  height: 30%;
  justify-content: space-around;
  align-items: center;
}
.middle-profile-info {
  display: flex;
  justify-content: space-between;
}
.bottom-profile-info {
  margin-top: 0;
}

.recent-posts {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.bar {
  border-top: 1px solid white;
}
.bar ul {
  display: flex;
  width: 800px;
  list-style: none;
  justify-content: space-between;
}


@media screen and (max-width: 768px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 769px) and (max-width: 959px) {


}


/* Medium devices (landscape tablets, 960px and up) */
@media screen and (min-width: 960px) and (max-width: 1264px) {

}

/* Large devices (laptops/desktops, 1395px and up) */
@media screen and (min-width: 1395px) and (max-width: 1597px) {

  .profile {
    margin-left: 250px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profile-picture{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-avatar {
   
    width: 100px !important;
    height: 100px !important;
  }
  .TabPanel{
    gap:1;
    width: 80%;
  }
  .profile-details {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 80%;
  }
  .profile-picture {
    width: 15%;
  }
  .profile-info-wrapper {
    position: relative;
    top: 0;
  }
  .upper-profile-info {
    display: flex;
    height: 30%;
    justify-content: space-around;
    align-items: center;
  }
  .middle-profile-info {
    display: flex;
    justify-content: space-between;
  }
  .bottom-profile-info {
    margin-top: 0;
  }
  .recent-posts {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .bar {
    border-top: 1px solid white;
  }
  .bar ul {
    display: flex;
    width: 800px;
    list-style: none;
    justify-content: space-between;
  }
  
}

/* Extra large devices (laptops/desktops, 1598px and up) */
@media screen and (min-width: 1598px) {

  .profile {
    margin-left:20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .profile-details {
    margin-top: 400px 0px 20px 400px;
    display: flex;
    width: 100%;
  }
  .profile-picture {
    width: 15%;
  }
  .profile-info-wrapper {
    position: relative;
    top: 0;
  }
  .upper-profile-info {
    display: flex;
    height: 30%;
    justify-content: space-around;
    align-items: center;
  }
  .middle-profile-info {
    display: flex;
    justify-content: space-between;
  }
  .bottom-profile-info {
    margin-top: 0;
  }
  .recent-posts {
    margin-top: 20px;
    display: flex;
  }
  .bar {
    border-top: 1px solid white;
  }
  .bar ul {
    display: flex;
    width: 800px;
    list-style: none;
    justify-content: space-between;
  }
  
  
}



