
.messages{
    width: 100%;
}
.messages-wrapper {
    display: flex;
}
.inbox{
    width:20%;
    border-right: 1px solid rgba(128, 128, 128, 0.305);
}
.content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 900px;

}

.inbox-top-section{
    margin:25px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 900;
    align-items: center;
}
.inbox-middle-section{
    margin:25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;

}
.inbox-middle-section a{
    color:gray;
    text-decoration: none;
}
.inbox-bottom-section{
    font-weight: 900;
}
.chat-info{
    margin:25px 25px 5px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line{
    border-bottom: 1px solid gray;}
.user-info{
    display: flex;
    align-items: center;
}

.user-name{
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
}

.chat-content{
    margin: 5px 25px 25px 25px;
display: flex;
justify-content: space-between;
border: 1px solid white;
border-radius: 20px;
padding: 10px;
}

.message{
    align-items: center;
    display: flex;
}
.input-message input{
    margin-left: 5px;
    width: 950px;
    padding-left: 10px;
    font-size: 18px;
    background:none;
    border: none;
}




