.messages {
    width: 100%;
    margin-left: 200px;
}

.messages-wrapper {
    display: flex;

}
.inbox{
    width:20%;
    height: 1000px;
    padding: 20px 10px 10px 10px;
    color:white;
    font-weight: 900;
}
.content{
    width: 80%;
    height: 1000px;

}
.upper-inbox{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.messages-section{
    display: flex;
    justify-content: space-between;
}
.request{
    color:dimgray;
    font-weight: 500;
}

.content{
    margin:20px
}