.layout {
  display: flex;
  height: 100%;
}

@media (max-width: 768px) {
  .layout {
    display: flex;
    height: 100%;
  }
}


@media only screen and (min-width: 1165px) and (max-width: 1541px) {

  .layout {
    display: flex;
    height: 100%;
  }
}
